html {overflow-y:scroll; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}
body {min-width:767px}

#attentionText {
	height:100px; padding:50px; text-shadow:1px 1px 5px #fff,-1px 1px 5px #fff,1px -1px 5px #fff,-1px -1px 5px #fff;
	background-image:url('../img/monneh.jpg'); background-repeat:no-repeat; background-position:right center;
}

#search {padding-top:0.5em; padding-bottom:0.5em}
#search h3, #search form {margin:0}
#search form {margin-top:5px}
#search .input-prepend {margin-bottom:0}

#result h3 {margin-top:0; text-align:center}
#result .btn-group-vertical {display:block}
#result .btn-group-vertical .btn {width:100%}
#result .btn-group-vertical .btn:first-child {font-weight:700}
#result .btn-group-vertical .btn:hover {cursor:default}

#result .list {list-style:none; margin:0.5em 0.5em 0; padding:0; border-top:1px solid #ccc}
#result .list > li {border-bottom:1px solid #ccc}
